<!-- <p-accordion [activeIndex]="activeAccordionTabIndex">
  <p-accordionTab *ngFor="let day of daily; let i = index" [selected]="i === activeAccordionTabIndex">  -->
  <p-accordion [multiple]="true" >
    <p-accordionTab *ngFor="let day of daily"> 
          
      <!-- Header -->
      <ng-template pTemplate="header">
        <div class="days">{{getDays(day.dt)}}</div> 
        <div class="icon">
          <img [src]='"http://openweathermap.org/img/wn/"+day.weather[0].icon+"@2x.png"' alt="Weather Icon">
          {{day.temp.min | number: '.0-0'}}{{simbol}} / {{day.temp.max | number: '.0-0'}}{{simbol}} 
        </div>
        <div class="description">{{day.weather[0].description}}</div>
      </ng-template>
          
      <!-- Data -->
      <ng-template pTemplate="content">

        <div class="firstcontent">
          <img [src]='"http://openweathermap.org/img/wn/"+day.weather[0].icon+"@2x.png"' alt="Weather Icon">
          <div><b>{{day.weather[0].description}}</b><br>The high will be {{day.temp.max | number: '.0-0'}}{{simbol}}, the low will be {{day.temp.min | number: '.0-0'}}{{simbol}} </div>
        </div>
        
        
        <div class="datacontent">
          <span><i class=""></i>{{day.wind_speed}}m/s</span> 
          <span><i class=""></i>{{day.pressure}}hPa</span>
          <span>Humidity: {{day.humidity}}</span>
          <span>UV: {{day.uvi}}</span>
          <span>Dew point: {{day.dew_point}}</span>
        </div>

          <div class="table">
            <div class="header row">
                <div></div>
                <div>Morning</div>
                <div>Afternoon</div>
                <div>Evening</div>
                <div>Night</div>
            </div>

            <div class="content1 row">
                <div>TEMPERATURE</div>
                <div>{{day.temp.morn}}{{simbol}}</div>
                <div>{{day.temp.day}}{{simbol}}</div>
                <div>{{day.temp.eve}}{{simbol}}</div>
                <div>{{day.temp.night}}{{simbol}}</div>
            </div>

            <div class="content2 row">  
                <div>FEELS LIKE</div>
                <div>{{day.feels_like.morn}}{{simbol}}</div>
                <div>{{day.feels_like.day}}{{simbol}}</div>
                <div>{{day.feels_like.eve}}{{simbol}}</div>
                <div>{{day.feels_like.night}}{{simbol}}</div>
            </div>
          </div>

          <div>Sunrise {{getHour(day.sunrise)}} &nbsp;&nbsp;&nbsp;&nbsp; Sunset: {{getHour(day.sunset)}}</div>
                
      </ng-template>
          
    </p-accordionTab>
  </p-accordion>
