.days{
    min-width: 100px;
    overflow: hidden;
    height: 20px;
}

.datacontent{
    border-left: 2px  solid #3B82F6;
    padding-left: 10px;
    margin: 8px 0 8px 0;
}

.datacontent span{
    padding-right: 20px;
}

.table{
    margin: 20px auto;
    text-align: center;
    width: 80%;
    display: flex;
    justify-content: space-between;
    font-size: small;
    flex-flow: column wrap;
}

.table div{
    min-width: 60px;
}

.header{
    display: flex;
    justify-content: space-around;
    font-weight: bold;
    flex-direction: row;
    padding-bottom: 5px;
}

.content1, .content2{
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    
}

.header div:first-child, .content1 div:first-child, .content2 div:first-child{
    text-align: left;
    font-size: small;
    color: rgba(128, 128, 128, 0.836);
    padding-right: 10px;
    width: 90px;
}

.icon{
    // font-size: 18px;
    margin: auto;
}

.description{
    font-size: 10px;
}

.firstcontent, .icon{
    display: flex;
}

.icon img{
    width: 30px;
    height: 30px;
    filter: drop-shadow(0 2px 5px rgba(0, 0, 0, 0.336));
}

.firstcontent img{
    width: 50px;
    height: 50px;
    margin-right: 10px;
}

@media screen and (max-width: 950px) {
    .table{
        margin: 20px auto;
        font-size: medium;
    }
}

@media screen and (max-width: 650px) {    

    .table{
        width: 100%;
        margin: 20px 0;
    }
}
